.master__form {
  width: 100%;
  .submit__form {
    width: 100%;
    @include flexBox(row, center, unset);
    margin-bottom: $margin-16;
    .btn {
      &:not(:last-child) {
        margin-left: $margin-6;
      }
    }
  }
}
