.m-form--group {
  width: 100%;
  padding: $padding-8;
  @include flexBox(column, unset, unset);
  &--top {
    @include flexBox(row, center, space-between);
    .right {
      .title {
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.75;
        letter-spacing: normal;
        text-align: right;
        color: $text-color-warm-grey;
        &.error {
          color: $text-color-warning-dark;
        }
      }
      .icon--pencil { 
        font-size: 10px;
        margin-right: $margin-8;
        color: $text-color-light;

        &.hidden{
          display: none;
        }
      }
    }
    .left {
      @include flexBox(row, center, unset);
      /* display: none; */

      .icon--edit {
        font-size: 10px;
        color: $text-color-light;
        margin-left: $margin-8;
      }
      .icon--cansel {
        font-size: 10px;
        color: $text-color-light;
      }
    }
  }
  &--bottom {
    .m-form--continers{
      .container__forms {
        @include flexBox(row, center, space-between);
        width: 100%;
        border-radius: 2px;
        height: 30px;
        border: solid 0.5px $bg-color-border-dark;
        position: relative;
        @include transition3s();
        .m-form--control {
          width: 100%;
          height: 100%;
          border: none;
          padding-right: $padding-8;
          font-family: $fontFamily;
          color: $text-color-warm-grey;
          background-color: transparent;
        }
        &:focus-within {
          border: solid 0.5px $bg-color-light;
        }
        &.error {
          border: solid 0.5px $text-color-warning-dark;
        }
        &:not(:last-child){
          margin-bottom: 6px;
        }
        .container__button{
          @include flexBox(row, center, unset);
          height: 100%;
          flex: 0 0 20%;
          position: absolute;
          left: 0;
        }
  
        &.gender{
          flex: 0 0 20%;
          max-width: 20%;
          margin-left: 2px;
  
          .dropdown-select__list{
            height: auto;
            overflow: hidden;
          }
        }
        &.firstName{
          flex: 0 0 20%;
          max-width: 20%;
          margin-left: 2px;
        }
        &.lastName{
          flex: 0 0 59%;
          max-width: 59%;
          margin-left: 2px;
        }
      }
    }
   
    .error--message {
      color: $text-color-warning-dark;
      font-size: 13px;
    }
    .data__value {
      font-size: 13px;
      color: $text-color-border-dark;
    }
    .form__infromation {
      @include flexBox(row, center, unset);

      &--link {
        font-size: 14px; 
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: normal;
        text-align: right;
        color: $bg-color-light;
        margin-left: $margin-6;
        &:not(:first-child){
          margin-right: $margin-6;
        }
      }
      &--text{
        font-size: 14px; 
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: normal;
        text-align: right;
        margin-left: $margin-6;
        color: $text-color-warm-grey;
      }
    }

    .address{
      @include flexBox(column,unset,unset);
      &__city{
        @include flexBox(row,unset,unset);
        .container__forms{
          width: 48%;
          &:not(:first-child){
            margin-right: 6px;
          }
        }
      }
    }
    &__street{
      width: 100%;
    }
  }
}
