.m-form--group {
  width: 100%;
  height: 100px;
  padding: $padding-8;
  @include flexBox(column, unset, unset);
  &--top {
    @include flexBox(row, center, space-between);
    .right {
      .title {
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.75;
        letter-spacing: normal;
        text-align: right;
        color: $text-color-warm-grey;
        &.error {
          color: $text-color-warning-dark;
        }
      }
      .icon--pencil {
        font-size: 10px;
        margin-right: $margin-8;
        color: $text-color-light;
      }
    }
    .left {
      @include flexBox(row, center, unset);
      /* display: none; */

      .icon--edit {
        font-size: 10px;
        color: $text-color-light;
        margin-left: $margin-8;
      }
      .icon--cansel {
        font-size: 10px;
        color: $text-color-light;
      }
    }
  }
  &--bottom {
    .container__forms {
      @include flexBox(row, center, unset);
      width: 100%;
      border-radius: 2px;
      height: 30px;
      border: solid 0.5px $bg-color-border-dark;
      @include transition3s();
      .m-form--control {
        width: 100%;
        height: 100%;
        border: none;
        padding-right: $padding-8;
        font-family: $fontFamily;
        color: $text-color-warm-grey;
        background-color: transparent;
      }
      &:focus-within {
        border: solid 0.5px $bg-color-light;
      }
      &.error {
        border: solid 0.5px $text-color-warning-dark;
      }
    }
    .error--message {
      color: $text-color-warning-dark;
      font-size: 13px;
    }
    .data__value {
      font-size: 13px;
      color: $text-color-border-dark;
    }
  }
}



/* fdgdfdfgdfgdfg */

select.m-form--control--select {
    display: none
}

.dropdown-select {
    background: transparent;
    width: 100%;
    height: 27px;
    line-height: 32px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    padding: 0 8px 0 17px;
    position: relative;
    user-select: none;
    white-space: nowrap;
    color: $text-color-warm-grey;
    transition: all 0.2s ease-in-out;
}
.dropdown-select__ul{
    background-color: $bg-color-secondry;
}
.dropdown-select__list {
    background: $text-color-white;
    width: 100%;
    border-radius: 3px;
    border: 0.5px solid $bg-color-border-dark;
    padding: 3px 0;
    margin-top: 4px;
    overflow: hidden;
    overflow-y: scroll;
    height: 250px;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 100;
    transform-origin: 50% 0;
    transform: scale(0.75);
    opacity: 0;
    transition: all 0.15s ease;
    pointer-events: none;
}

.dropdown-select__option {
    cursor: pointer;
    line-height: 40px;
    padding: 0 8px;
    color: $text-color-border-dark;
    &:not(:last-child){
        
    }
}


.dropdown-select--selected {
    color: $text-color-secondr;
    background: $text-color-light;
    font-weight: 700;
}

.dropdown-select::after {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    transition: all 0.15s ease;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid $bg-color-border-dark;
    pointer-events: none;
    margin-top: -2px;
}

.dropdown-select--open::after {
    transform: rotate(-180deg);
}

.dropdown-select--open .dropdown-select__list {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}