.u-center-text {
    text-align: center;
}

.u-margin-right-5{
    margin-right: 5px;
}

.u-margin-left-5 {
    margin-left: 5px;
}


.u-margin-right-6{
    margin-right: 6px;
}

.u-margin-left-5 {
    margin-left: 6px;
}






.nofiction__p{
    padding: 1rem 1rem 1rem 1rem;
    background-color: $bg-color-secondry;
    color: $text-color-warm-grey;
    font-size: 15px;
}