$fontFamily: iransans;

$bg-color-white: #ffffff;
$bg-color-black: #000000;
$bg-color-main: #3fac73;
$bg-color-light: #16b8e0;
$bg-color-dark: #14a3c7;
$bg-color-secondry: #fcfcfc;
$bg-color-secondry-50 : #d6d6d6;
$bg-color-grey-light-100: #f0f0f0;
$bg-color-secondry-hover: #f5f5f5;
$bg-color-scroll: rgba(103, 103, 103, 0.68);
$bg-color-warning-light: #ffe7e0;
$bg-color-warning-dark: #ebebeb;


/* ************************* */

$text-color-warning-dark: #ff8761;
$text-color-warning-light: #ffe7e0;
$text-color-white: #ffffff;
$text-color-black: #000000;
$text-color-warm-grey-light-50: #ebebeb ;
$text-color-warm-grey-light-100: #b2b2b2;
$text-color-warm-grey-dark: #676767;
$text-color-warm-grey : #848484;
$text-color-light: #16b8e0;
$text-color-secondr: #fcfcfc;
$text-color-main: #3fac73;
$text-color-main-hover: #218551;
/* box shadow */
$box-shadow: 0 3px 6px 0 rgba($bg-color-black, 0.08);
$box-shadow-10: -6px 0 30px 0 rgba($bg-color-black, 0.1);
$box-shadow-50: 0 3px 6px 0 rgba($bg-color-black, 0.16);


/* border-radius  */
$border-radius-20: 20px;
$border-radius-16: 16px;
$border-radius-8: 8px;
$border-radius-8: 8px;
$border-radius-7: 7px;
$border-radius-6: 6px;
$border-radius-5: 5px;
$border-radius-4: 4px;
$border-radius-3: 3px;
/* border-radius */

/* border -color */
$border-color-bottom: rgba(212, 212, 211, 0.24);




/* badeg */
$sidebar-width: 119px;


/* ***** */
$margin-right-16: 16px;
$margin-right-8: 8px;
$margin-left-16: 16px;
$margin-left-8: 8px;